@charset: "utf-8";

#main {
  width: 100%;
  background: url(../img/news.jpg) no-repeat center top;
  backgorund-color: rgba(249, 249, 249, 1);
  padding-top: 195px;
  padding-bottom: 80px;
}

#mainContainer {
  background: white;
  height: auto !important;
  width: 1100px;
  margin: 0 auto;
}